body {
  height: 98vh;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

h1 {
  margin: 0;
  padding: 2% 0;
  flex-shrink: 0;
}

#map {
    display:flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
  #map {
    height: 70%;
  }

}
@media screen and (max-width: 1024px) {
  #map {
    height: 70%;
  }
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.legend > p {
  margin: 0;
  text-align: end;
}

#selectButton{
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

.button {
  background-color: #445d97;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #566ea7;
}

.button.active {
    background-color: #3862c2;
  }
